.main-modal {
	z-index: 100;
	position: absolute;
	top: 10vh;
	left: 10%;
	width: 80%;
	background: white;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 8px;
	overflow: visible;
}
.main-modal__header {
	width: 100%;
	padding: 1rem 0.5rem;
	background: #2e9ad1;
	color: white;
	h2 {
		margin: 0.5rem;
	}
}
.main-modal__content {
	padding: 1rem 0.5rem;
}
.main-modal__footer {
	padding: 1rem 0.5rem;
}
.main-modal-enter {
	transform: translateY(-10rem);
	opacity: 0;
}
.main-modal-enter-active {
	transform: translateY(0);
	opacity: 1;
	transition: all 200ms;
}
.main-modal-exit {
	transform: translateY(0);
	opacity: 1;
}
.main-modal-exit-active {
	transform: translateY(-10rem);
	opacity: 0;
	transition: all 200ms;
}
@media (min-width: 768px) {
	.main-modal {
		left: calc(50% - 20rem);
		width: 40rem;
	}
}
