.form-group {
	margin: 1rem 0;
	label {
		display: block;
		font-weight: bold;
		margin-bottom: 0.5rem;
	}
	input {
		display: block;
		width: 100%;
		font: inherit;
		border: 1px solid #ccc;
		border-radius: 5px;
		background: #f8f8f8;
		padding: 0.30rem 0.25rem;
		&:focus {
			outline: none;
			background: #ebebeb;
			border-color: #296e91;
		}
	}
	textarea {
		display: block;
		width: 100%;
		font: inherit;
		border: 1px solid #ccc;
		border-radius: 5px;
		background: #f8f8f8;
		padding: 0.30rem 0.25rem;
		&:focus {
			outline: none;
			background: #ebebeb;
			border-color: #296e91;
		}
	}
}
.form-group--invalid {
	label {
		color: red;
	}
	p {
		color: red;
	}
	input {
		border-color: red;
		background: #ffd1d1;
	}
	textarea {
		border-color: red;
		background: #ffd1d1;
	}
}
