.main-header {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	position: relative;
	top: 0;
	left: 0;
	background: #296e91;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
	padding: 0 1rem;
	z-index: 5;
	margin: 0;
}
@media (min-width: 768px) {
	.main-header {
		justify-content: space-between;
	}
}