.emp-container {
	overflow-x: scroll;
	border-radius: 0px;
	Button {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
.emp-container {
	overflow-x: scroll;
	border-radius: 0px;
	Button {
		margin-right: 0px;
		margin-bottom: 10px;
	}
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

